# Включаем модуль перезаписи URL
RewriteEngine On

# Базовый URL (если приложение находится в подкаталоге)
 RewriteBase /


# Обработка multicall запросов
RewriteRule ^orders/list?$ /api/orders_list.php [L]
RewriteRule ^currency/list?$ /api/currency_list.php [L]
RewriteRule ^currency/course/exchange-rate$ /api/exchange_rate.php [QSA,L]
RewriteRule ^order/([0-9]+)/?$ /api/get_order.php?orderId=$1 [L]
RewriteRule order/bulk/create-order$ /api/create_order.php [L]
RewriteRule ^exchange/order/([0-9]+)/?$ /api/get_order.php?orderId=$1 [L]

RewriteRule ^exchange/?$ /exchange.html [L]
RewriteRule ^rules/?$ /rules.html [L]
RewriteRule ^faq/?$ /faq.html [L]
RewriteRule ^contacts/?$ /contacts.html [L]
RewriteRule ^exchange/([0-9]+)/?$ /order.php?orderId=$1 [L]



# Разрешаем доступ к реальным файлам и директориям
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Разрешаем доступ к JS, CSS, изображениям и другим статическим файлам
RewriteCond %{REQUEST_URI} !\.(?:css|js|jpg|jpeg|png|gif|ico|svg|woff|woff2|ttf|eot|map)$ [NC]

# Перенаправляем все остальные запросы на index.html
RewriteRule ^ index.html [L]


# Устанавливаем правильные типы MIME
<IfModule mod_mime.c>
  AddType application/javascript .js
  AddType text/css .css
</IfModule>

# Устанавливаем заголовки кэширования для статических ресурсов
<IfModule mod_expires.c>
  ExpiresActive On
  
  # Изображения
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 1 year"
  
  # CSS, JavaScript
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 month"
  
  # Шрифты
  ExpiresByType application/font-woff "access plus 1 year"
  ExpiresByType application/font-woff2 "access plus 1 year"
  ExpiresByType application/vnd.ms-fontobject "access plus 1 year"
  ExpiresByType application/x-font-ttf "access plus 1 year"
  ExpiresByType font/opentype "access plus 1 year"
</IfModule>
